

= form_for @case do |f|
  - if @case.errors.any?
    .error_explanation
      %h2= "#{pluralize(@case.errors.count, 'error')} prohibited this appeal from being saved:"
      %ul
        - @case.errors.full_messages.each do |message|
          %li= message


  %table
    %tr
      %th{width: '20%'} MAAT Number
      %td= @case.maat_number

    %tr
      %th Date of appeal
      %td= format_date(@case.appeal_date)

    %tr
      %th Defendant
      %td= @case.defendant.details

    %tr
      %th Solicitor
      %td= @case.solicitor.details

    %tr
      %th Offences appealed
      %td= @case.offences.join('<br/>').html_safe

    %tr
      %th Grounds for appeal
      %td= @case.grounds

    %tr
      %th Additional information
      %td= @case.additional_info

