%h1 Listing Cases


.container.table-container

  %table
    %thead
      %tr
        %th MAAT No
        %th Defendant name
        %th Defendant DOB
        %th Solicitor
        %th Offences


    %tbody
      - @cases.each do |hearing|
        %tr
          %td= hearing.maat_number
          %td= hearing.defendant.name
          %td= hearing.defendant.date_of_birth
          %td= hearing.solicitor.details
          %td= hearing.offences.join('<br/>').html_safe


%br

