%h1 Listing Cases


.container.table-container

  %table
    %thead
      %tr
        %th MAAT No
        %th Appeal Date
        %th Defendant name
        %th Solicitor
        %th Actions

    %tbody
      - @cases.each do |hearing|
        %tr
          %td= link_to hearing.maat_number, edit_case_path(hearing)
          %td= hearing.appeal_date_for_display
          %td= hearing.defendant.name
          %td= hearing.solicitor.name
          %td
            = link_to 'Process', 'https://dl.dropboxusercontent.com/u/309108/MAAT_resize.png'
            = link_to 'Approve', 'images/maat_resize.png'
            = link_to 'Reject', cases_path



%br
