%h1 Listing Cases


.container.table-container

  %table
    %thead
      %tr
        %th MAAT No
        %th Appeal Date
        %th Defendant name
        %th Solicitor
        %th Action

    %tbody
      - @cases.each do |hearing|
        %tr
          %td= hearing.maat_number
          %td= hearing.appeal_date_for_display
          %td= hearing.defendant.name
          %td= hearing.solicitor.name
          %td= link_to 'Edit', edit_case_path(hearing)


%br

