
= form_for @appeal do |f|
  - if @appeal.errors.any?
    .error_explanation
      %h2= "#{pluralize(@appeal.errors.count, 'error')} prohibited this appeal from being saved:"
      %ul
        - @appeal.errors.full_messages.each do |message|
          %li= message

  = f.text_field :full_name

  = f.gov_uk_date_field(:dob, form_hint_text: '', legend_text: 'Date of birth', legend_class: 'govuk-legend', id: 'dob')

  = f.text_field :solicitor_name

  = f.text_field :provider_acct_num

  = f.text_area :grounds

  .actions
    = f.submit 'Submit', class: 'button'