
= form_for @appeal do |f|
  - if @appeal.errors.any?
    .error_explanation
      %h2= "#{pluralize(@appeal.errors.count, 'error')} prohibited this appeal from being saved:"
      %ul
        - @appeal.errors.full_messages.each do |message|
          %li= message

  %p
  = f.text_field :full_name

  .field
    = f.gov_uk_date_field(:dob, form_hint_text: 'DOB', legend_text: 'Date of birth', legend_class: 'govuk-legend', id: 'dob')
    = f.date_select :dob

  .field
    = f.text_field :solicitor_name

  .field
    = f.text_field :provider_acct_num

  .actions
    = f.submit