%h1 Listing Appeals

.container.table-container

  %table
    %thead
      %tr
        %th Full name
        %th Date of birth
        %th Solicitor name
        %th Provider acct num
        %th{colspan: 3}

    %tbody
      - @appeals.each do |appeal|
        %tr
          %td= appeal.full_name
          %td= appeal.dob
          %td= appeal.solicitor_name
          %td= appeal.provider_acct_num
          %td= link_to 'Show', appeal
          %td= link_to 'Edit', edit_appeal_path(appeal)
          %td= link_to 'Destroy', appeal, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Appeal', new_appeal_path


%h3.heading-medium
  Grid Example + form

.grid-row
  .column-one-half
    half

  .column-one-half
    half

%p
%h1
  Form groups
.form-group
  %label.form-label{:for => "first-name-2"}
    First name
  %input.form-control{:type => "text", :id => "first-name-2"}

.form-group
  %label.form-label{:for => "first-name-2"}
    First name
  %input.form-control{:type => "text", :id => "first-name-2"}