%p#notice= notice

%table
  %tr
    %td Full Name
    %td= @appeal.full_name

  %tr
    %td Date of birth
    %td= @appeal.dob

  %tr
    %td Solicitor Name
    %td= @appeal.solicitor_name

  %tr
    %td Provider account number
    %td= @appeal.provider_acct_num



= link_to 'Edit', edit_appeal_path(@appeal) |
= link_to 'Back to list', appeals_path
